@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#root > div > main > div > div > div > div > div > div:nth-child(1) {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  #root > div > main > div > div > div > div > div > div:nth-child(1) {
    width: 100%;
  }
}
